body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;

    height: 100vh;
    border: 0;
    margin: 0;

    background: rgb(95, 5, 5);
    color: #fff;

    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 0;
}
p {
    font-size: 1rem;
}

button#saluta {
    font-size: 1.5rem;

    color: inherit;

    padding: .5em 1em;
    border: 2px solid;
    border-radius: .25em;
    
    background: transparent;
}





@media screen and (min-width: 780px) {
    h1 {
        font-size: 5rem;
        text-align: center;
    }
    p {
        font-size: 2rem;
        text-align: center;
    }
}